{% extends 'base/base.html' %}
{% load static %}
{% block extra_css %}
{% endblock %}
{% block content %}
<br>
<section id="basic-vertical-layouts">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Eliminar {{ titulo }}</h4>
                </div>
                <form method="post"  enctype="multipart/form-data">
                    <div class="page-header">
                        <div class="container-fluid">
                          <!-- <h2 class="h5 no-margin-bottom">{{ titulo }}</h2> -->
                        </div>
                      </div>
                      <section class="no-padding-top no-padding-bottom">
                        <div class="col-lg-12">
                          <div class="block">
                            <!-- <div class="title"><strong>Eliminar {{ titulo }}</strong></div> -->
                            <div class="block-body">
                              {% csrf_token %}
                              <input type="hidden" name="action" value="{{ action }}">
                              {% if form.errors %}
                              <div class="alert alert-danger alert-dismissible">
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                  <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer eliminar el registro</h5>
                                  <ul>
                                      {% for field in form %}
                                          {% for error in field.errors %}
                                              <li>{{ error }}</li>
                                          {% endfor %}
                                      {% endfor %}
                                  </ul>
                              </div>
                          {% endif %}
                              <form class="form-horizontal">
                                {{forms.errors}}
                                <div class="alert alert-danger alert-dismissible">
                                    <h5><i class="bx bxs-error"></i> Notificación!</h5>
                                    ¿Estas seguro de eliminar el registro N° {{ object.id }}?
                                </div>
                                
                                <div class="line"></div>
                                <div class="form-group row">
                                    <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary mr-1">Eliminar</button>
                                    <a href="{{ list_url }}" class="btn btn-light-secondary">Cancelar</a>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </section>
                      
                    </form> 
                </div>
            </div>
        </div>
    </div>
</section>


            
{% endblock %}
{% block extra_js %}
{% endblock %}